<div class="header" id="header">
    <img src="https://images.unsplash.com/photo-1540224769541-7e6e20a42330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1976&q=80" class="header__bg-img">
    <div class="header__detail-box">
        <div class="header__detail-item1">Whassabar</div>
        <div class="header__detail-item2">cocktail bar & restaurant</div>
        <div class="header__reserve-btn">
            <button (click)="reserveBtnClick()">Book A Party</button>
        </div>
    </div>
</div>