<div class="footer">
    <div class="footer__title">Whassabar</div>
    <div>
        <div class="footer__location">Location</div>
        <div class="footer__location-sub">123 E 11rd St,New York,NY 10220</div>
    </div>
    <div>
            <div class="footer__hours">Hours</div>
    <div class="footer__hours-sub">Monday - Thrusday : 4pm - 1am</div>
    <div class="footer__hours-sub">Friday : 4pm - 3am</div>
    <div class="footer__hours-sub">Saturday - Sunday : 11am - 3am</div>
    </div>
</div>