.article-cocktail{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.article-cocktail > img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    filter: brightness(60%) saturate(2) contrast(90%);
    z-index: -1;
}

.article-cocktail__detail-box{
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.article-cocktail__detail-box > div{
    margin: 2px 0px;
    line-height: 1;
    /* overflow: hidden; */
}

.article-cocktail__detail-item1{
    font-size: 18vw;
    overflow: hidden;
}

.article-cocktail__grid-menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.article-cocktail__grid-menu > div{
    height: 50px;
    font-size: 7vw;
    overflow: hidden;
}

.article-cocktail__grid-menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-cocktail__grid-menu-item-name{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 30px;
}


@media screen and (min-width:768px) {
    .article-cocktail__grid-menu > div{
        height: 70px;
    }
}

@media screen and (min-width:1024px) {
    .article-cocktail{
        display: none;
    }
}