*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Lateef', cursive;
    background-color: rgb(28, 28, 28);
}